body {
    background-color: #f3f5fb !important;
}

a {
    transition: 0.1s;
}

a:hover {
    opacity: 0.8;
    transition: 0.1s;
    text-decoration: underline;
}

.znc .main {
    font-family: -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
        Meiryo, sans-serif, "Segoe UI Emoji";
}

.editor pre,
.editor textarea {
    padding: 24px !important;
}

.link {
    text-decoration: none !important;
    display: block;
    height: 100%;
}
.link:hover {
    opacity: 1 !important;
}

img {
    border: solid 4px #f3f5fb;
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px 10px;
    background: #374151;
    color: #dce4edff;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
}

.copy-button {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s ease;
}

.code-block-container:hover .copy-button {
    opacity: 1;
    pointer-events: auto;
}

.copy-tooltip {
    position: absolute;
    top: -40px;
    right: 0;
    background-color: #192638;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    z-index: 2;
}

.copy-tooltip::after {
    content: "";
    position: absolute;
    top: 100%; /* ツールチップの下に配置 */
    right: 24px; /* 調整可能 */
    border-width: 6px;
    border-style: solid;
    border-color: #192638 transparent transparent transparent;
}
